@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #0a192f;
}


body::-webkit-scrollbar{
    width:  8px;
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgb(97, 96, 96);
}

#nav-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(8px);
    margin-bottom: 90px;
}

#nav-menu div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

#nav-menu div a{
    color: #8892b0;
}

#nav-menu div a span{
    color: #64ffda;
}

.resume{
    width: 90px;
    height: 35px;
    border: 1px solid aqua;
    border-radius: 5px;
    background-color: #0a192f;
    box-sizing: border-box;
    color: aqua;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
}

.resume:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.resume:active {
    transform: scale(.96);
}
  
.resume:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
}

#home{
    height: 5000px;
    width: 70%;
    border: 1px solid wheat;
    margin: auto;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-==-=-=HOME-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=- */

