@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins';
    text-decoration: none;
}

body{
    background-color: #0a192f;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=Scroll Bar-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
body::-webkit-scrollbar{
    width:  8px;
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgb(97, 96, 96);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=Navigation Bar-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
#nav-menu{
    position: fixed !important;
    top: 0px;
    width: 100%;
    height: 90px;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(8px);
    z-index: 10;
}

label.logo{
    line-height: 80px;
    padding: 0 30px 0 50px;
}

label.logo a img{
    width:  auto;
    height: 50px;
    margin-top: 20px;
    /* border: 1px solid white ; */
}

nav ul{
    float:  right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #8892b0;
    font-size: 13px;
    margin-right: 10px;
}

nav ul li a span{
    color: aqua;
    margin-right: 3px;
    font-size: 14px;
}

.nav-link:hover{
    color: aqua;
}

.checkbtn{
    color: aqua;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


#resume-button-1{
    width: 90px;
    height: 35px;
    border: 1px solid aqua;
    border-radius: 5px;
    background-color: #0a192f;
    box-sizing: border-box;
    outline: none;
    color: aqua;
    cursor: pointer;
    transition: transform 250ms;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
}


#resume-button-1:hover {
    transform: translateY(-3px);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=Socail Icon-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
#icon{
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: aliceblue;
    width: auto;
    left: 6%;
    bottom: 0;
}

#icon > a > i{
    color: white;
    margin-bottom: 18px;
    transition: transform 250ms;
}

#icon > a > i:hover{
    color: aqua;
    transition: .5s;
    transform: translateY(-5px);
}

.vertical {
    border-left: 2px solid white;
    margin: auto;
    height: 100px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=Home Section-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
#home{
    width: 85%;
    height: auto;
    padding-right: 50px;
    color: white;
    float: right;
    font-size: 17px;
    padding-top: 90px;
    border: 1px solid white;
}

.intro {
    line-height: 1.2;
    margin-top: 80px;
    margin-bottom: 90px;
}

.intro > h1{
    font-size: calc(70px + 0.390625vw);
    color: #ccd6f6;
}

.intro > h2{
    font-size: calc(70px + 0.390625vw);
    color: #8892b0;
}

.intro > p{
    margin: 30px 0px;
    font-size: 20px;
}

.intro  button{
    width: 140px;
    height: 50px;
    border: 1px solid aqua;
    border-radius: 10px;
    background-color: #0a192f;
    box-sizing: border-box;
    font-size: 19px;
    outline: none;
    color: aqua;
    cursor: pointer;
    transition: transform 250ms;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
}

.intro > button:hover {
    transform: translateY(-3px);
}

/* =-=-=----=----=-=--=-=-ABOUT SECTION--=-=-=-=-=-=-=-=-=-=-=-=-= */

#about{
    width: 85%;
    height: auto;
    margin: auto;
    color: white;
    float: right;
    font-size: 17px;
    padding-top: 90px;
    border: 1px solid white;
}

.heading{
    display: flex;
    justify-content: first baseline;
    align-items: center;
    color: #ccd6f6;
}

.heading > p{
    color: aqua;
    font-size: 19px;
    margin-right: 15px;
}

.heading > h2{
    margin-right: 15px;
}

.heading > hr{
    width: 300px;
    color: gray;
}

.about-intro{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    border: 1px solid white;
}

.home-img{
    width: 40%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.about-intro img{
    width: 80%;
    border-radius: 50%;
}

.about-self{
    width: 60%;
    padding: 20px;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-SKILLS SECITION-=-=-=-=-=-=-=-=-=--=-=- */

#skills{
    width: 85%;
    height: auto;
    margin: auto;
    color: white;
    float: right;
    font-size: 17px;
    padding-top: 90px;
    border: 1px solid white;
}

#skills > p{
    width: 80%;
    margin: auto;
}

.lang{
    height: auto;
    width: 80%;
    margin: auto;
    border: 1px solid white;
}

.lang > div{
    display: flex;
    justify-content: space-around;
}

.skills-card{
    width: 150px;
    height: 100px;
    border: 1px solid white;
    margin: 30px;
}

.tools{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
}

.tools > div{
    width: 150px;
    height: 100px;
    margin: 30px;
    border: 1px solid white;
}


/* =-=-=-----=-=-=---=-=-=-=-=-=--=--=---PROJECT SECTION-=-=----=---=-=--==-=--= */

#projects{
    width: 85%;
    height: auto;
    margin: auto;
    color: white;
    float: right;
    font-size: 17px;
    padding-top: 90px;
    border: 1px solid white;
}

.project-block{
    height: 300px;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid white ;
}

.project-card{
    height: 200px;
    width: 200px;
    margin: 30px;
    border: 1px solid white;
}


/* =--=--=--=-=-=-=----=--=-=-=-GITHUB SECITION=-=-=---=--=-=-=--=-=- */

#github{
    width: 85%;
    height: auto;
    margin: auto;
    color: white;
    float: right;
    font-size: 17px;
    padding-top: 90px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid white;
}

#github h1{
    font-size: 20px;
    text-align: center;
    margin: auto;
}

#github > div{
    width: 200px;
    height: 200px;
    border: 1px solid white;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-CONTACT SECTION-=-=-=-=-=-=-=-=--=-=-=- */

#contact{
    width: 85%;
    height: auto;
    margin: auto;
    color: white;
    float: right;
    font-size: 17px;
    padding-top: 90px;
    border: 1px solid white;
}

.contact {
    width: 80%;
    height: 200px;
    margin: auto;
    border: 1px solid white;
}