@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: #0a192f;
}


body::-webkit-scrollbar{
    width:  8px;
    background: transparent;
}

body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgb(97, 96, 96);
}

#nav-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(8px);
    z-index: 1;
}

#nav-menu div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}

#nav-menu div a{
    color: #8892b0;
}

#nav-menu div a span{
    color: #64ffda;
}

#resume-link-2{
    width: 90px;
    height: 35px;
    border: 1px solid aqua;
    border-radius: 5px;
    background-color: #0a192f;
    box-sizing: border-box;
    outline: none;
    color: aqua;
    cursor: pointer;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
}

#resume-button-2{
    color: aqua;
}

#resume-button-2:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.resume:active {
    transform: scale(.96);
}

#home{
    width: 70%;
    margin: auto;
}

#icon{
    position: fixed;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    color: aliceblue;
    width: auto;
    left: 6%;
    bottom: 0;
}

#icon > i{
    margin-bottom: 20px;
    font-weight: 200;
    color: white;
}

#icon > i:hover{
    transition: 0.3s;
    transform: scale(.96);
}


.vertical {
    border-left: 2px solid white;
    margin: auto;
    height: 100px;
}
/* =-=-=-=-=-=-=-=-=-=-=-=-==-=-=HOME-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=- */

#home{
    height: 100%;
    padding-bottom: 100px;
    margin-top: 150px;
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#home  h1{
    font-size: 80px;
    line-height: 1.2;
}

#home p{
    margin-top: 20px;
    font-size: 20px;
}

.home-button{
    margin: 20px;
    margin-left: 0;
    padding: 1em 3em;
    border: none;
    outline: none;
    color: aqua;
    background: #122d55;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.home-button:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
}

.home-button:active {
    transform: scale(.96);
}

.img-1{
    width: 40%;
    position: absolute;
    bottom: 30px;
    right: 0;
}

.img-1 > img{
    width: 100%;
}


/* =-=-=-=-=-=-=-=-=-=-=-=--=-=-ABOUT=---=-=-=-==-=-=-=-=-=-=--=-=-=-=-==-*/

#about{
    /* border: 1px solid white; */
    width: 65%;
    margin: auto;
    margin-top: 50px;
}

#about-1{
    display: flex;
    justify-content:first baseline;
    align-items: center;
    color: #ccd6f6;
}

#about-1 > p{
    color: aqua;
    font-size: 19px;
    margin-right: 15px;
}

#about-1 > h2{
    margin-right: 15px;
}

#about-1 > hr{
    width: 300px;
    color: gray;
}

#user-detail-intro{
    display: flex;
}

#user-detail-intro > p{
    color: white;
    width: 50%;
    height: auto;
    margin: 20px;
}

.home-img{
    width: 300px;
    height: 300px;
    border: 1px solid aqua;
    margin-top: 50px;
    margin-left: 50px;
}


/* =-=-=-=--=-=-=--=-=-=-=-=-=-=--=-=Skills=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

#skills{
    width: 65%;
    margin: auto;
    margin-top: 150px;
    /* border: 1px solid white; */
    color: white;
}

#skills-1{
    display: flex;
    justify-content : end;
    align-items: center;
    color: #ccd6f6;
}

#skills-1 > p{
    color: aqua;
    font-size: 19px;
    margin-right: 15px;
}

#skills-1 > h2{
    margin-right: 15px;
}

#skills-1 > hr{
    width: 250px;
    color: gray;
    margin-right: 50px;
}

.skills-card{
    width: 75%;
    height: auto;
    border: 1px solid white;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.skills-card > div{
    width: 50%;
    border: 1px solid white;
}

.skills-card > div > div{
    border: 1px solid white;
    height: 120px;
    display: flex;
    padding: 20px;
}

.skills-card > div > div > div{
    width: 100%;
    display: flex;
    position: relative;
}

.skills-card img{
    width: 60px;
}
.stats-head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    color: #ccd6f6;
    font-size: 22px;
}

.stats-head > hr{
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
}

.stats-body{
    margin: auto;
    text-align: center;
}

#github-trophy{
    margin: 20px;
}

#github-top-langs{
    margin: 20px;
}

#github-stats-card{
    margin: 20px;
}

#github-streak-stats{
    margin: 20px;
}

.calendar{
    font-size: 15px;
    border: 1px solid aqua;
    margin-top: 20px;
}

.contrib-number{
    color:rgb(83, 230, 227);
}

:root{
    --color-calendar-graph-day-bg:  #00000;
}

.contrib-column{
    border-top: 1px solid aqua;
    border-left: 1px solid aqua;
}

.js-calendar-graph-svg{
    padding: 20px;
}

.stats-body-1{
    display: flex;
    justify-content: space-evenly;
}


/* ==--=-=---=--=-=-=-==-=-=---==-=Contact-=-=-==-=-=-=-==-=-=-===-=-=-=- */
#contact-section{
    width: 65%;
    border: 1px solid white;
    margin: auto;
    margin-top: 100px;
    
}

#contact-section > div  span{
    color: aqua;
}