@media all and (min-width: 770px) and (max-width: 1179px){
    nav ul{
        margin-right: 10px;
    }

    label.logo{
        line-height: 40px;
        padding: 0 40px;
    }

    #icon{
        display: none;
    }

    #home{
        width: 90%;
        float:none;
        margin: auto;
        padding: 0;
    }

    #about{
        width: 90%;
        float: none;
        margin: auto;
        padding: 0%;
    }

    .about-intro{
        width: 100%;
        padding: 0;
    }

    .about-self p{
        font-size: 14px;
    }

    #skills{
        width: 90%;
        float: none;
        margin: auto;
        padding: 0%;
    }

    .language-list{
        height: auto;
        width: 90%;
    }

    #projects{
        width: 90%;
        margin: auto;
        float: none;
        padding: 0;
        padding-left: 30px;
    }

    .project-block{
        width: 75%;
    }

    #github{
        width: 90%;
        margin: auto;
        float: none;
        padding: 0;
    }

    #contact{
        width: 90%;
        margin: auto;
        float: none;
        padding: 0;
    }

}


@media only screen and (max-width: 979px) {
    .skills-card {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }
    .ag-course-item_title {
        font-size: 24px;
    }
}


@media all and (min-width: 770px) and (max-width: 1050px){
    .project-info{
        width: 100%;
    }

    .project-title {
        font-size: 20px;
        text-transform: uppercase;
        color: #ccd6f6;
      }
    
      .project-title:hover{
        color: aqua;
      }
    
      .project-info p {
        margin-bottom: 10px;
        color: #8892b0;
        font-size: 14px;
      }
    
      .project-info span{
        color: aqua;
      }
    
      .project-info a{
        color: white;
        font-size: 13px;
      }
}