@media all and (min-width: 0px) and (max-width: 769px){
    label.logo{
        line-height: 40px;
        padding: 0 10px;
    }
    
    label.logo a img{
        width:  auto;
        height: 40px;
    }

    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 17px;

    }

    #check:checked ~ ul{
        left: 0;
    }

    #icon{
        display: none;
    }

    #home{
        width: 95%;
        float:none;
        margin: auto;
        padding-right: 0;
    }

    /*  */

    .intro {
        line-height: 1.2;
        margin-top: 40px;
        margin-bottom: 0px;
        font-size: 3vw;
    }
    
    .intro > h1{
        font-size: 4em;
        color: #ccd6f6;
    }
    
    .intro > h2{
        font-size: 4em;
        color: #8892b0;
    }
    
    .intro > p{
        margin: 20px 0px;
        font-size: 1.2em;
    }

    .intro  button{
        width: 90px;
        height: 35px;
        font-size: 12px;
        border-radius: 5px;
    }

    #about{
        width: 95%;
        float:none;
    }

    .about-intro{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 95%;
    }

    .heading > p{
        font-size: 15px;
    }

    .heading > h2{
        font-size: 19px;
    }

    .heading > hr{
        width: 150px;
    }

    .about-intro{
        width: 100%;
        padding: 0;
    }

    .about-self p{
        font-size: 12px;
    }

    .home-img > img{
        width: 220px;
    }

    #skills{
        width: 95%;
        float: none;
        padding-top: 90px;
    }

    .language-list{
        height: auto;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }

}

@media all and (min-width: 0px) and (max-width: 550px){
    .language-list{
        height: auto;
        width: 100%;
        margin-top: 30px;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .ag-course-item_title {
        margin: 0 0 20px;
    }

    .skills-card-img{
        width: 40px;
    }

    .ag-course-item_link{
        padding: 25px 20px;
    }

    .ag-course-item_bg{
        height: 115px;
        width: 115px;
    }

    .tech > h2{
        font-size: 17px;
    }
}